<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="ru">
<head>
    <meta charset="utf-8">
    <title>Posts</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

</head>
<body>

<div class="container-fluid">

    <nav class="navbar navbar-dark bg-dark mb-4">
        <a class="navbar-brand" th:href="@{/posts/all}">
            <img src="/static/img/logo.png" width="270" height="28" alt="My logo">
        </a>
    </nav>

    <div class="row">
        <div class="column col-9">
            <div class="container">
                <div class="text-center font-weight-bold mb-200" th:text="${post.title}"></div>
                <div class="text-justify" th:text="${post.content}"></div>
            </div>

        </div>

        <div class="column col-3" style="position:fixed;right:0;">
            <div class="card">
                <img src="" alt="">
                <div class="text-center">
                    <div class="card-header"><h2>Обо мне</h2></div>
                </div>
                <div class="card-body">Меня зовут Вадим</div>
                <div class="card-footer text-muted">Номер телефона: +7(928)45-777-89</div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>