<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="ru">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Post</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

</head>
<body>
<!--   Header-->
    <nav class="navbar navbar-dark bg-dark mb-4">
        <a class="navbar-brand" th:href="@{/posts/all}" th:text="CHEMODUROV"></a>
    </nav>
<!--   Content-->
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="column col-1"></div>
            <div class="column col-8" >
                <div class="flex " >
                    <div class="text-center font-weight-bold">
                        <h2 th:text="${post.title}"></h2>
                    </div>
                    <div class="text-justify mb-4" th:remove="tag" th:utext="${post.content}"></div>
                </div>
            </div>

            <div class="column col-3" style="position:fixed;right:0;">
                <div class="card">
                    <img src="" alt="">
                    <div class="text-center">
                        <div class="card-header"><h2>Обо мне</h2></div>
                    </div>
                    <div class="card-body">Меня зовут Вадим</div>
                    <div class="card-footer text-muted">Номер телефона: +7(928)45-777-89</div>
                </div>
            </div>
        </div>
    </div>
<!--    footer-->
    <footer class="footer navbar-dark bg-dark fixed-bottom">
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://chemodurov.pro"> chemodurov.pro</a>
        </div>
    </footer>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>